cm4/cpp_local_cam/build/pi_ball_detector_autogen/*
cm4/cpp_local_cam/build/CMakeFiles/*
__pycache__/
*.pyc
build/*
runtime/*.json
runtime/*.tmp
cm4/runtime/*.json
cm4/runtime/*.tmp
cm4/camera/build
cm4/camera/dist
cm4/bin
*.egg-info/
*out
