[Unit]
Description=FastAPI Launcher for Hardware Control
Wants=network-online.target
After=network-online.target

[Service]
User=ibis
WorkingDirectory=/home/ibis/Orion_CM4
EnvironmentFile=-/home/ibis/.orion_deploy/env
ExecStart=/usr/bin/python3 /home/ibis/Orion_CM4/cm4/lancher.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
